img {
  width: 100%;
}

.landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -100px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}


.fb-profile img.fb-image-lg {
  z-index: 0;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

.fb-image-profile {
  margin: -90px 10px 0px 50px;
  z-index: 9;
  /* width: 14%; */
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

@media (max-width:768px) {

  .fb-profile-text>h1 {
    font-weight: 700;
    font-size: 16px;
  }

  .fb-image-profile {
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%;
  }
}



